.service {
  padding-top: 130px;
}

.section-heading {
  margin-bottom: 40px;
  h5 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    color: #55e6a5 !important;
  }
  h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.3;
    color: #ffffff;
  }
}

.service-card {
  padding: 40px;
  position: relative;
  border: 3px solid #191919;
  margin-top: 62px;
  text-align: center;
}

.service-card span svg {
  width: 100px;
}

.service-card h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.service-card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
