.hero-section {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100vh;
  padding-top: 80px;
  width: 100%;
}
.hero-section div {
  height: 100%;
}
.hero-section-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 35px;
}
.hero-section-heading h1 {
  color: white;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  span{
    font-size: 35px;
  }
}
.hero-section-heading p {
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 65px;
  line-height: 1.4;
}
.hero-section-heading ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 28px;
  li {
    a {
      margin-right: 30px;
      text-decoration: none;
      color: white;
    }
  }
}
.fa-circle-play{
  color: #55e6a5;
  font-size: 50px;
  margin-right: 10px;
}
.hero-section-img {
  display: flex;
  align-items: center;
}
.hero-section-img .img {
  height: 585px;
  position: relative;
  padding: 35px;
  z-index: 1;
}
.common-btn {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #55e6a5;
  color: #000 !important;
  font-weight: 500;
  transition: all 0.3s linear 0s;

  &:hover{
    background-color: #141c27;
    color: #fff !important;
  }
}

@media screen and (max-width: 768px) {
  .hero-section-heading h1 {
    font-size: 30px;
    span {
      font-size: 25px;
    }
  }
  .hero-section-heading ul li{
    margin-bottom: 20px;
  }
  .hero-section-heading p {
    font-size: 16px;
  }
  .common-btn {
    padding: 15px 30px;
    font-size: 14px;
  }
  .hero-section-img {
    margin-top: 30px;
    display: none;
  }
}